//Created by john.nana on 5/6/2015.
extends ./layout
block content
    include navbar
    div(id="landing")
        div(class= "container")
            div(class="row")
                div(class="col-md-offset-3 col-md-6")
                    div(class="form-login")
                    h4 LOGIN
                    input(type="text" id="userName" class="form-control input-sm chat-input" placeholder="username")
                    br
                    input(type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password")
                    br
                    div(class="wrapper")
                        button(type="button" class="btn btn-primary btn-lg") Login







