//Created by john.nana on 5/6/2015.

nav(class="navbar navbar-inverse container-fluid nav-custom")
    div(class="container-fluid")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

        div(id="brand")
            a(class="navbar-brand" href="#")
                img(alt="Brand" src="./assets/img/islogo.png" height="50")
        h3(class="wrapper" id="brandname") INTERNET SOLUTIONS PHONE BILLING SYSTEM



