
div(id="header-container" class="landing-nav navbar" )
    div(id="brand")
    a(href="/")
        img(src="/assets/img/islogo.png" height="60")
    h3(class="pull-right") ISNG PHONE BILLING SYSTEM
script.
    $("#header-container").switchstyler({
        on: ''
    });
