@import "icomoon.css";
@import "loader.css";

html, body{
    height: 100%;
    width: 100%;
    /*background-color: #FAFAFA !important;*/
    white-space: nowrap;
    background: url('../assets/img/teaser-bg.jpg') no-repeat transparent 50% 55%;
}

#tell-div{
    height: 600px;
}

.page{
    padding: 20px;
}

#main-nav{
    height: 100%;
    width: 80px;
    background-color: #1E242F;
    display: inline-block;
    padding-top: 20px;
}



#main-nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    color: #fff;
}
#main-nav ul li{
    padding: 10px;
    text-align: center;
}

#main-nav ul li a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;

    display: block;
  /*  color: #f1f1f2;*/
    /*text-align: center;
    padding-top: 42px;
    padding-bottom: 10px;*/
    background-size: 24px;
    opacity: 0.9;

}

/*#main-nav ul li a:visited,*/
#main-nav ul li a:active {
    text-decoration: none;
    color: #656A72;
}
#main-nav ul li a:hover{
    color: #333333;
}
#main-nav ul li:hover{
    padding: 10px;
    text-align: center;
    background-color: #adadad;
}

#top-bar{
    display: table;
    background-color: #D8D8D9;
    font-size: 15px;
    color: rgba(81, 104, 118, 1);
    width: 100%;

}

#user-controls{
    float: right;
    clear: right;
    padding: 5px;
    display: table-cell;
}

#user-controls a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 19px;
    color:rgba(81, 104, 118, 1);
    text-decoration: none;
}

#user-controls a:hover{
    color:#000;
}

#dashboard{
    height: 100%;
    width: 90%;
    background-color: #F5F5F5;

    display: inline-block;
    width: 96%;
    height: 100%;
    vertical-align: top;
    clear: both;
    position: relative;
    padding-right: 50px;

}

#landing{
   /* background: url('../assets/img/teaser-bg.jpg') no-repeat transparent 50% 55%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 48px 0;
    color: #fff;
    margin-top: -1px;
    position: relative;
    width: 100%;
}

.nav-custom{
    background-color: #1E242F;
    height: 65px;
}
.landing-nav{
   /* background-color: #1F2129;*/
   /* background-color: #3D71C5*/
    background-color: #1E242F;
    height: 120px;
    color: #fff;
    border-bottom: none !important;
   margin: 0 auto;
    padding: 30px;
    border-bottom: 1px solid #eee;
}

#header-container{
    margin: 0 auto;
    padding: 60px;
    border-bottom: 1px solid #eee;
}

h1, h2, h3, h4, h5 {
    font-family: "Source Sans Pro" !important;
    font-weight: 200 !important;
}

.form-login {
    background-color: #000;

    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    opacity: 0.4;
    filter: alpha(opacity=40)
}


/*h4 {
    border:0 solid #fff;
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}*/

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
    color: #ffeeff;
}

#footerlogo{
    position: fixed;
    left: 2px;
    width: 75px;
    bottom: 5px;
}

.scrollable{
    width: auto;
    height: 370px;
    overflow-x: scroll;

}
.adduserform{
    bottom: 30px;

}